body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.loading h1 {
    font-size: 64px;
    color: whitesmoke;
}

.button {
    z-index: 100;
    position: absolute;
    top: 65%;
    left: 50%;
}

.button button {
    border: none;
    background-color:black; 
    color: white;
    cursor: pointer;

}

.apple-spline {
    z-index: -10;
}

.video__container, .loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.react-player {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Hiermee wordt de video geschaald om de container volledig te bedekken */
    transform: scale(2);
    transition: "opacity, 2s ease-in-out";
    z-index: 1;
}


 .spline {
    border: 2px solid red;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
 }

 @media (max-width: 700px){

    .apple-spline {
        display: none;
    }
 }

 .spline-viewer-container {
    height: 100%;
 }